<launch>
  <arg name="path" value="$(find ORB_SLAM2)" />
  <node name="RGBD" pkg="ORB_SLAM2" type="RGBD" output="screen"
    args=" $(arg path)/../../../Vocabulary/ORBvoc.txt $(arg path)/launch/TUM2_rosbag.yaml">
    <remap from="/camera/rgb/image_raw" to="/camera/rgb/image_color"/>
    <remap from="/camera/depth_registered/image_raw" to="/camera/depth/image"/>
  </node>
</launch>
