<launch>
  <arg name="path" value="$(find ORB_SLAM2)" />
  <node name="RGBD" pkg="ORB_SLAM2" type="RGBD" output="screen"
    args=" $(arg path)/../../../Vocabulary/ORBvoc.txt $(arg path)/launch/realsense.yaml">
    <remap from="/camera/rgb/image_raw" to="/camera/color/image_raw"/>
    <remap from="/camera/depth_registered/image_raw" to="/camera/aligned_depth_to_color/image_raw"/>
  </node>
</launch>
